body {
  margin-left: 2em;
}

img {
   padding:1px;
   border:1px solid #021a40;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  text-align: center;
}

.side-by-side {
    display: flex;
    flex-direction: row;
}

.content {
  position: relative;
  width: auto;
  min-width: 120px;
}

.content p, .content h1,
.content h2, .content h3,
.content h4, .content h5,
.content h6, .content ul.text,
#nav-bottom {
  max-width: 640px;
}

#nav-bottom h2 {
  font-size: 1.15em;
}

#nav-bottom a {
  white-space: nowrap;
}

/* nav right */

#nav-right {
  max-width: 500px;
  border: none;
  padding: 10px;
  z-index: 1;
}

#nav-right div {
  display: none;
}

#nav-right div.visible {
  display: block;
}

/* responsive grids */

.layout-grid,
.photo-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.layout-grid li,
.photo-grid li {
  padding: 10px;
}

.text-grid li {
    padding: 25px;
}

/* horizontal centering */

#content table,
.content table,
#header table,
#nav-bottom table,
.center img,
img.center {
  margin-left: auto;
  margin-right: auto;
}

td {
  text-align: center;
}


/* horizontal line rules */

hr {
  clear: both;
  border-bottom: 0;
  border-top: 1px solid #000;
  border-right: 0;
  border-left: 0;
  margin: 10px 0;
  min-height: 0;
  height: 1px;
}

hr.short {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

hr.double {
	border-top: 1px solid #000;
	border-bottom: 1px solid #fff;
}

hr.double:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #fff;
}

hr.blank {
  border-top: 0;
  height: 10px;
}
