body {
  margin-left: 2em;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  text-align: center;
}

.content {
  position: relative;
  width: auto;
  min-width: 120px;
  z-index: 3;
}

.content p, .content h1,
.content h2, .content h3,
.content h4, .content h5,
.content h6, .content ul.text,
#nav-bottom p, #nav-bottom h2 {
  max-width: 640px;
}

#nav-bottom h2 {
  font-size: 1.15em;
}

#nav-bottom a {
  white-space: nowrap;
}

img {
   padding:1px;
   border:1px solid #021a40;
}

.container {
    display: flex;
    flex-direction: row;
}

#nav-left {
  font-size: 0.938em;
  padding: 10px;
  z-index: 2;
}

#nav-left ul {
  margin: 0;
  padding: 0;
}

#nav-right {
  width: 275px;
  border: none;
  padding: 10px;
  z-index: 1;
}

#nav-right div {
  display: none;
}

#nav-right div.visible {
  display: block;
}

{
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
}

a:link { color: #0000FF; }
a:visited { color: #FF00FF; }
a:hover { color: #00CCFF; }
a:active { color: #FF0000; }

a:link, a:visited {
  text-decoration: underline;
  color: #6A5ACD;
  background-color: transparent;
}

a:hover, a:active {
  text-decoration: underline overline;
  color: #191970;
  background-color: #C9C3ED;
}

.layout-grid,
.photo-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.layout-grid li,
.photo-grid li {
  padding: 10px;
}

.text-grid li {
    padding: 25px;
}

#content, #nav-bottom,
.content {
  margin: auto;
}

#content table,
.content table,
#header table,
#nave-bottom table{
  margin-left: auto;
  margin-right: auto;
}
